:host {
  display: block;
  min-height: 100vh;
}

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-bottom: 20px;
}

main {
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 600px) {
  main {
    padding: 10px;
  }
}
